<div class="container">
    <h2>Products in Hive</h2>
    <table class="table table-nonfluid">
      <thead>
        <th scope="col">#</th>
        <th scope="col">ProductId</th>
        <th scope="col">Quantity</th>
        <th scope="col">IsDelivered</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let hiveSectionProduct of filterItems()">
          <th scope="row">{{hiveSectionProduct.id}}</th>
          <td>{{hiveSectionProduct.productId}}</td>
          <td>{{hiveSectionProduct.quantity}}</td>
          <td>{{hiveSectionProduct.isDelivered}}</td>
          <td>
            <span class="btn-toolbar" role="toolbar" aria-label="Hive section action buttons" style="display: block; white-space:nowrap;">
              <div class="btn-group mr-2" role="group" aria-label="Edit group">
                <button routerLink="/item/{{hiveSectionProduct.id}}" type="button" class="btn btn-primary">Edit</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Delete group" *ngIf="hiveSectionProduct.isDeleted != true" (click)="onDelete(hiveSectionProduct.id)">
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
              <div class="btn-group mr-2" role="group" aria-label="Undelete group" *ngIf="hiveSectionProduct.isDeleted == true" (click)="onUndelete(hiveSectionProduct.id)">
                <button type="button" class="btn btn-primary">Undelete</button>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Action buttons" (click)="back()">
      <div class="btn-group mr-1" role="group" aria-label="Back group">
        <button type="button" class="btn btn-primary">Back</button>
      </div>
      <div class="btn-group" role="group" aria-label="Add group" (click)="onAdd()">
        <button type="button" class="btn btn-primary">Add product</button>
      </div>
    </div>
  </div>